<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Scissor - URL Shortener</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/url_short/css/base.css')}}">
</head>
<body>
    <div class="container">
        <p>
            <h1>
                Hello,
            </h1>
            <h1>
                You're welcome to my URL Scissors Tool.
            </h1>
        </p>
        <input type="text" id="longUrlInput" placeholder="Enter URL to shorten">
      
        <button id="shortenButton">Shorten URL</button>
        <p id="shortUrl"></p>
        <div id="qrCodeContainer"></div>
    </div>

    <script src="{{ url_for('static', path='/url_short/js/script.js') }}"></script>
</body>
</html>
